.login{
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 50%;
}
.form{
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
}
.email,.password{
    display: flex;
    justify-content: center;
    align-items: left;
    text-align: left;
    flex-direction: column;
    margin: 5px;
}
.login h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}
.form input{
    border: none;
    padding: 8px 20px;
}

.login_btn {
    background-color: #28a745;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}   
.login input[type="submit"]:hover {
    background-color: #218838;
}
.login .error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}