.login{
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.login h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}
.login input[type="text"],[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login input[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}   
.login input[type="submit"]:hover {
    background-color: #218838;
}
.login .error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}