.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    width: 220px;
    text-wrap: wrap;
}

.image{
    max-width: 100%;
    height: auto;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
}

.title {
    font-size: 18px;
    margin: 10px 0;
}
.product h2:hover {
    cursor: pointer;
    text-decoration: underline;
}

.product p {
    font-size: 14px;
    color: #555;
}

.button{
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 2px;
}

.button:hover {
    background-color: #218838;
}
u{
    text-decoration: line-through;
}